{
  parser: "babel-eslint",
  extends: "airbnb",
  settings: {
    import/resolver: "webpack"
  },
  rules: {
    react/jsx-wrap-multilines: ["error", { arrow: false }],
    react/no-unused-prop-types: ["warn", { skipShapeProps: true }],
    react/prefer-stateless-function: "off",
    react/require-default-props: "off",
    react/no-array-index-key: "warn",
    import/no-extraneous-dependencies: ["warn", { devDependencies: true }],
    import/prefer-default-export: "warn",
    jsx-a11y/label-has-for: "off",
    jsx-a11y/no-static-element-interactions: "off",
    max-len: ["warn", 120],
    new-cap: ["error", { capIsNewExceptions: ["Set"] }],
    camelcase: ["warn", { properties: "never" }],
    comma-dangle: ["error", {
        arrays: "always-multiline",
        objects: "always-multiline",
        imports: "always-multiline",
        exports: "always-multiline",
        functions: "never",
    }],
    no-multi-str: "off",
    // Use `_` to indicate that the method is private
    no-plusplus: ["error", { allowForLoopAfterthoughts: true }],
    no-underscore-dangle: "off",
    func-names: "off"
  },
  globals: {
    window: true,
    document: true,
    $: true,
    FormData: true,
    File: true,
    FileReader: true,
  }
}
