{
  parser: "babel-eslint",
  extends: "airbnb",
  settings: {
    import/resolver: "webpack"
  },
  rules: {
    // temporary disable some rules
    function-paren-newline: "off",
    object-curly-newline: "off",
    prefer-destructuring: "off",
    react/jsx-curly-brace-presence: "off",
    react/no-typos: "off",
    jsx-a11y/mouse-events-have-key-events: "off",
    jsx-a11y/click-events-have-key-events: "off",
    jsx-a11y/anchor-is-valid: "off",
    react/jsx-closing-tag-location: "off",
    react/default-props-match-prop-types: "off",

    react/forbid-prop-types: ["error", { "forbid": ["any", "array"] }],
    react/jsx-wrap-multilines: ["error", { arrow: false }],
    react/no-array-index-key: "warn",
    react/no-danger: "off",
    react/no-unused-prop-types: ["warn", { skipShapeProps: true }],
    react/prefer-stateless-function: "off",
    react/require-default-props: "off",
    import/no-extraneous-dependencies: ["warn", { devDependencies: true }],
    import/prefer-default-export: "warn",
    jsx-a11y/label-has-for: "off",
    jsx-a11y/no-static-element-interactions: "off",
    max-len: ["warn", 120],
    new-cap: ["error", { capIsNewExceptions: ["Set"] }],
    camelcase: ["warn", { properties: "never" }],
    comma-dangle: ["error", {
        arrays: "always-multiline",
        objects: "always-multiline",
        imports: "always-multiline",
        exports: "always-multiline",
        functions: "never",
    }],
    no-multi-str: "off",
    no-plusplus: ["error", { allowForLoopAfterthoughts: true }],
    // Use `_` to indicate that the method is private
    no-underscore-dangle: "off",
    func-names: "off"
  },
  globals: {
    window: true,
    document: true,
    AudioContext: true,
    navigator: true,
    URL: true,
    $: true,
    FormData: true,
    File: true,
    FileReader: true,
  }
}
