{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    // See https://github.com/yannickcr/eslint-plugin-react/issues/847
    "react/no-unused-prop-types": ["warn", { "skipShapeProps": true }],
    "new-cap": [2, { "capIsNewExceptions": ["Set"] }],
    "react/require-default-props": "off",
    "react/no-array-index-key": "warn",
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
    }],
    "no-multi-str": 0,
    // Use `_` to indicate that the method is private
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": 0,
  },
  "globals": {
    "window": true,
    "document": true,
    "$": true,
    "FormData": true,
    "File": true,
    "FileReader": true,
  }
}
