= page_header virtual_classrooms_title do
  = new_button([current_course, :virtual_classroom]) if can?(:create, Course::VirtualClassroom.new(course: current_course))

= render partial: @virtual_classrooms, spacer_template: 'course/virtual_classrooms/virtual_classroom_spacer'
= paginate @virtual_classrooms