@mixin course-forum-post {
  .contents {
    border: 1px solid $course-discussion-post-border-color;
    border-radius: $course-discussion-post-border-radius;
    box-shadow: 0 1px 1px $course-discussion-post-shadow-color;

    overflow: hidden;
    padding: 1.2em;

    .user {
      float: left;
      text-align: right;

      .image {
        float: right;
      }
    }

    // Post title
    .title {
      align-items: center;
      border-bottom: 1px solid $grey-light;
      display: flex;
      font-size: $font-size-base;
      margin: -16px -16px 16px;
    }

    // The post info, like post time etc
    .info {
      margin-top: 1em;
    }
  }

  &.unread > .contents {
    background-color: $course-forum-unread-highlight;
  }
}
