@import 'post';

.course-forum-topics {
  &.show {
    .post {
      @include course-forum-post;

      // In case the previous post was too short.
      clear: both;

      // Spacing between posts.
      margin-bottom: 1em;
    }

    // TODO: Update with final decision on handling nesting. See Coursemology/coursemology2#1879
    .replies.nested {
      margin-left: 3em;
    }

    .unread-controls.btn-group {
      margin-right: 20px;
    }
  }
}
