= import_result_alert

div#programming-question
  = fa_icon 'spinner 4x spin'

- if display_build_log?
  = render partial: 'form_build_log',
    locals: { log: @programming_question.import_job.error.slice('stdout', 'stderr') }

/= simple_form_for [current_course, @assessment, @programming_question] do |f|
/  = f.error_notification
/  = render partial: 'course/assessment/questions/form', locals: { f: f }
/
/  = f.association :language
/  = f.input :memory_limit
/  = f.input :time_limit
/  - unless @assessment.guided?
/    = f.input :attempt_limit, placeholder: t('.attempt_limit_placeholder')
/  = f.label :template_package
/  = f.attachment
/
/  - if display_build_log?
/    = render partial: 'form_build_log',
/             locals: { log: @programming_question.import_job.error.slice('stdout', 'stderr') }
/
/  = render partial: 'form_templates',
/           locals: { programming_question: @programming_question }
/
/  = render partial: 'form_test_cases',
/           locals: { test_cases: @programming_question.test_cases }
/
/  = f.button :submit
