- edit_path = edit_course_assessment_question_programming_path(current_course, @assessment,
                                                               programming)
- delete_path = course_assessment_question_programming_path(current_course, @assessment,
                                                            programming)
= render partial: 'course/assessment/questions/question',
         locals: { question: programming,
                   edit_path: edit_path,
                   delete_path: delete_path }
