- announcement = @object
- course = announcement.course
- host = course.instance.host
- creator = format_inline_text(announcement.creator.name)

- message.subject = t('.subject', course: course.title, announcement: announcement.title)

- course_link = link_to(format_inline_text(course.title), course_url(course, host: host))
- announcement_link = link_to(:announcement, course_announcements_url(course, host: host))

= format_html(t('.message', course: course_link,
                            announcement: announcement_link,
                            content: announcement.content_to_email,
                            creator: creator))
