// scss-lint:disable ImportantRule
.addNewTestRow {
  // Remove bootstrap padding.
  padding: 0 !important;
}
// scss-lint:enable ImportantRule

.addNewTestButton {
  border: 0;
  border-radius: 0;
  width: 100%;
}

.deleteButtonCell {
  text-align: center;
  width: 50px;
}
