@import '../../../../../../lib/styles/variables';

.testSelection {
  margin: 10px 0;
  position: relative;
  text-align: center;
}

.testSelectionRuler {
  border-top: 1px solid $btn-default-border;
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
