= tabs do
  = nav_to t('.forum_disbursement'), forum_disbursement_course_users_path(current_course)
  = nav_to t('.general_disbursement'), disburse_experience_points_course_users_path(current_course)
