{
  "extends": "airbnb",
  "settings": {
    import/resolver: "webpack"
  },
  "rules": {
    // See https://github.com/yannickcr/eslint-plugin-react/issues/847
    "react/no-unused-prop-types": [1, { "skipShapeProps": true }]
  }
}
