[submodule "vendor/assets/stylesheets/pygments-css"]
	path = vendor/assets/stylesheets/pygments-css
	url = https://github.com/richleland/pygments-css.git
[submodule "vendor/assets/javascripts/recorderjs"]
	path = client/vendor/recorderjs
	url = https://github.com/mattdiamond/Recorderjs.git
	ignore = dirty
