// Nil as the page has been ported to react. This slim file is currently only called from global announcement
// page
- edit_button_path = nil
- delete_button_path = nil
= render partial: 'announcements/announcement', object: announcement,
                                                locals: { edit_button_path: edit_button_path,
                                                          delete_button_path: delete_button_path }
