- add_breadcrumb @assessment.title, course_assessment_path(current_course, @assessment)
- add_breadcrumb I18n.t('layouts.monitoring.pulsegrid')
div#course-assessments.dangerously-fit-height-to-viewport
