- assessment = @object
- course = assessment.course
- host = course.instance.host
- time = Time.use_zone(@recipient.time_zone) { assessment.end_at.to_formatted_s(:long) }

- message.subject = t('.subject', course: course.title, assessment: assessment.title)

= simple_format(t('.message', time: time,
                assessment: link_to(assessment.title,
                                    course_assessment_url(course, assessment, host: host))))
