// Place all the styles related to the course/achievement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-achievement-achievements {
  .achievement-list,
  .achievement-form {
    .image > img {
      @include no-stretch;
      max-height: $course-achievement-form-badge;
      max-width: $course-achievement-form-badge;
    }
  }

  .achievement-list {
    table-layout: fixed;

    td,
    th {
      vertical-align: middle;
    }

    .granted {
      background-color: $course-achievement-granted-bg;
    }

    .locked {
      background-color: $course-achievement-locked-bg;
    }

    .table-badge {
      @extend .text-center;

      @media (min-width: $screen-xs-max){
        width: $course-achievement-form-badge * 1.5;
      }

      @media (max-width: $screen-sm-max){
        width: 20%;

        .image > img {
          width: 100%;
        }
      }
    }

    .table-description {
      @extend .hidden-xs;
      @extend .hidden-sm;
    }

    .table-buttons {
      @media (max-width: $screen-xs-max) {
        width: 15%;
      }

      .btn-group {
        display: flex;
      }

      .btn-group-vertical {
        @extend .pull-right;
      }
    }

    .table-requirement {
      @media (max-width: $screen-sm-max){
        ul {
          padding-left: 10%;
        }
      }
    }

    .table-reorder {
      width: 30px;
    }

    .table-title {
      @media (max-width: $screen-xs-max) {
        width: 30%;
      }
    }
  }

  &.index {
    .new-btn {
      display: inline-block;
    }

    #reorder {
      // To remove height and vertical-align, used to align material and bootstrap buttons.
      height: 38px;
      margin-right: 1em;
      vertical-align: bottom;
    }
  }

  &.show {
    @include automatically-clear;

    .course-user-achievement {
      text-align: center;

      .image > img {
        @include fit-round-img($course-achievement-user-profile);
      }
    }
  }
}
