// Place all the styles related to the course/achievement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-achievements {
  .achievement-list,
  .achievement-form {
    .image > img {
      height: $course-achievement-badge-small;
      width: $course-achievement-badge-small;
    }
  }

  .achievement-list {
    .granted {
      background-color: $course-achievement-granted-bg;
    }

    .locked {
      background-color: $course-achievement-locked-bg;
    }
  }
}
