// Place all the styles related to the course/achievement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-achievement-achievements {
  .achievement-list,
  .achievement-form {
    .image > img {
      height: $course-achievement-form-badge;
      width: $course-achievement-form-badge;
    }
  }

  .achievement-list {
    .granted {
      background-color: $course-achievement-granted-bg;
    }

    .locked {
      background-color: $course-achievement-locked-bg;
    }
  }

  &.show {
    @include automatically-clear;

    .course-user-achievement {
      text-align: center;

      .image > img {
        @include fit-round-img($course-achievement-user-profile);
      }
    }
  }
}
