.course-announcements {
  &.index {
    .announcement {
      padding-left: 8px;

      .timestamp {
        color: $gray-light;
      }

      .content {
        margin-top: 10px;
      }
    }
  }
}
