@import 'announcement';

.course-courses {
  &.show {
    .course > h1 > .register {
      @extend .pull-right;
      @extend .col-lg-offset-9;
      @extend .col-lg-3;
      @extend .col-md-offset-8;
      @extend .col-md-4;
    }

    .announcement-holder {
      border: 1px solid $gray-lighter;
      border-radius: 4px;
      padding: 10px;

      .announcement {
        @include announcement;
      }
    }

  }

  &.index {
    .thumbnail {
      .image > img {
        @include no-stretch;

        height: $course-course-listing-logo;
        margin-top: 1em;
        width: $course-course-listing-logo;
      }
    }
  }
}
