@import 'announcement';

.course-courses {
  &.show {
    .enrol-request {
      margin-top: 10px;
    }

    .message-holder {
      border: 1px solid $gray-lighter;
      border-radius: 4px;
      margin-bottom: 10px;
      padding: 10px;

      .announcement {
        @include announcement;
      }
    }

    .pending-tasks {
      table-layout: fixed;

      td,
      th {
        vertical-align: middle;
      }

      .buttons {
        @extend .text-center;

        a,
        input {
          margin-right: 1em;
          margin-top: 3px;
        }
      }
    }
  }

  &.index {
    .box {
      transition: background-color 0.2s, box-shadow 0.2s;

      &:hover {
        background-color: $course-course-hover-bg;
        box-shadow: 2px 2px 2px $course-course-hover-shadow;
      }

      > a {
        display: block;
        height: 100%;
        margin: -4px;
        padding: 4px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .caption {
      margin: 5px 0;

      h4 {
        height: 50px;
      }

      .description {
        height: 60px;
        overflow-y: scroll;
      }
    }

    .image > img {
      @include no-stretch;

      height: $course-course-listing-logo;
      margin-top: 1em;
      width: $course-course-listing-logo;
    }
  }
}
