.category-card-header,
.group-card-header {
  padding: 0 !important;

  & > div {
    width: 100%;
    padding-right: 5rem !important;
  }
}

.category-card-body,
.group-card-body {
  padding: 0 !important;
}

.groups-table {
  width: 100%;

  td,
  th {
    padding: 5px 15px 0px 5px;

    &:last-child {
      padding: 5px 20px 0px 5px;
    }

    &.auto-size {
      width: 1px;
      white-space: nowrap;
    }
  }
}
