$sidebar-width: 21rem;
$sidebar-margin-side: 1.5rem;

.course-layout {
  display: flex;

  @media (max-width: $screen-sm-min) {
    flex-direction: column;
  }

  #course-badge-achievement {
    margin-bottom: 1em;
    margin-left: 0.5em;

    .image > img {
      height: $course-user-badge-achievement-badge;
      width: $course-user-badge-achievement-badge;
    }

    .achievement > a:hover {
      text-decoration: none;
    }

    .achievement-difference {
      margin-left: 6px;
    }
  }

  #course-badge-level {
    margin-left: 0.5em;

    .experience-points {
      font-weight: 300;
    }

    .level {
      font-size: 150%;
      margin-right: 0.5em;
    }

    .next-level {
      font-size: 85%;
      margin-bottom: 1em;
    }

    .progress {
      height: 12px;
      margin-bottom: 3px;
      margin-top: 6px;
    }
  }

  #course-sidebar-logo {
    .image > img {
      height: $course-layout-sidebar-logo;
      width: $course-layout-sidebar-logo;
    }
  }

  #course-navigation-sidebar {
    .nav-icons > .fa {
      font-size: 1.5em;
      height: 0;
      line-height: 0;
      margin-right: 0.2em;
      position: relative;
      text-align: center;
      top: 0.1em;
      width: 1.5em;
    }

    .unread {
      margin-left: 0.4em;
    }

    #admin-header-sidebar {
      font-weight: bold;
      margin: 30px 15px 10px;
    }
  }

  #users-container {
    display: flex;
    flex-wrap: wrap;
  }

  .user {
    align-items: center;
    display: flex;
    padding: 1rem $sidebar-margin-side;

    #user-sidebar {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #user-link-sidebar {
      @include text-overflow;
      font-size: 18px;
      font-weight: bold;
      flex: 1;
    }

    #manage-email-subscription-link-sidebar {
      font-size: 12px;
    }

    .image img {
      max-width: inherit;
    }

    .image,
    #user-link-sidebar {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .notification + .notification {
    margin-top: 10px;
  }

  #hide-sidebar {
    border: 0;
  }

  #show-sidebar {
    border: 0;
    position: absolute;
    z-index: 999;
  }

  #full-sidebar {
    margin-right: $sidebar-margin-side;
    width: $sidebar-width;

    @media (max-width: $screen-sm-min) {
      margin-bottom: $sidebar-margin-side;
      margin-right: 0;
      width: 100%;
    }
  }

  // TODO: Revisit this once SPA and see if we can deal with just `width: 100%;`
  // For some reasons in /courses/:id/assessments/:id/submissions/:id/edit page,
  // `width: 100%` causes `.page-content` to take the width of `.course-layout`.
  // This 'patch' calculates the true width of `.page-content` and ensure the
  // content never bulges out of `.course-layout`. I am not proud of this patch.
  .page-content {
    width: calc(100% - #{$sidebar-width} - #{$sidebar-margin-side});

    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .collapse:not(.in) + .page-content {
    width: 100%;
  }
}
