.course-layout {
  #course-user-badge {
    #course-user-progress {
      .progress {
        margin-bottom: 10px;
        margin-top: 10px;

        .course-user-experience-points {
          min-width: 10em;
        }
      }
    }

    #course-user-achievements,
    #course-user-level {
      h5,
      p {
        text-align: center;
      }
    }
  }

  #course-sidebar-logo {
    .image > img {
      height: $course-layout-sidebar-logo;
      width: $course-layout-sidebar-logo;
    }
  }

  .user {
    margin: 0.5em 0;
  }

  .notification > h6 {
    margin-top: 0;
  }
}
