.course-layout {
  @include timestamp;

  #course-user-badge {
    #course-user-progress {
      .progress {
        margin-bottom: 10px;
        margin-top: 10px;

        .course-user-experience-points {
          min-width: 10em;
        }
      }
    }

    #course-user-achievements,
    #course-user-level {
      h5,
      p {
        text-align: center;
      }
    }
  }

  #course-sidebar-logo {
    .image > img {
      height: $course-layout-sidebar-logo;
      width: $course-layout-sidebar-logo;
    }
  }

  #course-navigation-sidebar {
    .nav-icons > .fa {
      font-size: 1.5em;
      height: 0;
      line-height: 0;
      margin-right: 0.2em;
      position: relative;
      text-align: center;
      top: 0.1em;
      width: 1.5em;
    }

    .unread {
      margin-left: 0.4em;
    }

    #admin-header-sidebar {
      font-weight: bold;
      margin: 30px 15px 10px;
    }
  }

  #users-container {
    display: flex;
    flex-wrap: wrap;
  }

  .user {
    align-items: center;
    display: flex;
    margin: 0.5em;

    #user-sidebar {
      font-size: 18px;
      font-weight: bold;
    }

    .image,
    #user-sidebar {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .notification + .notification {
    margin-top: 10px;
  }
}
