.course-layout {
  @include timestamp;

  #course-badge-achievement {
    margin-bottom: 1em;
    margin-left: 0.5em;

    .image > img {
      height: $course-user-badge-achievement-badge;
      width: $course-user-badge-achievement-badge;
    }

    .achievement > a:hover {
      text-decoration: none;
    }

    .achievement-difference {
      margin-left: 6px;
    }
  }

  #course-badge-level {
    margin-left: 0.5em;

    .experience-points {
      font-weight: 300;
    }

    .level {
      font-size: 150%;
      margin-right: 0.5em;
    }

    .next-level {
      font-size: 85%;
      margin-bottom: 1em;
    }

    .progress {
      height: 12px;
      margin-bottom: 3px;
      margin-top: 6px;
    }
  }

  #course-sidebar-logo {
    .image > img {
      height: $course-layout-sidebar-logo;
      width: $course-layout-sidebar-logo;
    }
  }

  #course-navigation-sidebar {
    .nav-icons > .fa {
      font-size: 1.5em;
      height: 0;
      line-height: 0;
      margin-right: 0.2em;
      position: relative;
      text-align: center;
      top: 0.1em;
      width: 1.5em;
    }

    .unread {
      margin-left: 0.4em;
    }

    #admin-header-sidebar {
      font-weight: bold;
      margin: 30px 15px 10px;
    }
  }

  #users-container {
    display: flex;
    flex-wrap: wrap;
  }

  .user {
    align-items: center;
    display: flex;
    margin: 0.5em;

    #user-sidebar {
      @include text-overflow;
      font-size: 18px;
      font-weight: bold;
      flex: 1;
    }

    .image,
    #user-sidebar {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .notification + .notification {
    margin-top: 10px;
  }

  #hide-sidebar {
    border: 0;
  }

  #show-sidebar {
    border: 0;
    position: absolute;
    z-index: 999;
  }
}
