.course-leaderboards {
  .leaderboard-header {
    margin-bottom: 1em;
    text-align: center;
  }

  &.show {
    .leaderboard-level,
    .leaderboard-achievement {
      .user-picture {
        text-align: center;
        width: 20%;

        .image > img {
          @include fit-round-img($course-leaderboard-user-picture);
        }
      }

      .rank {
        padding-right: 2em;
        text-align: right;
        vertical-align: middle;
        width: 15%;
      }

      .user-profile {
        text-align: left;
        vertical-align: middle;
        width: 65%;
      }
    }

    .leaderboard-achievement {
      .user-profile {
        .image > img {
          height: $course-leaderboard-achievement-badge;
          width: $course-leaderboard-achievement-badge;
        }
      }
    }
  }

  &.groups {
    .leaderboard-points,
    .leaderboard-achievement {
      .group-name {
        text-align: center;
        vertical-align: middle;
        width: 20%;
      }

      .group-profile {
        vertical-align: middle;
        width: 60%;

        .image > img {
          @include fit-round-img($course-leaderboard-groupuser-picture);
        }
      }

      .rank {
        padding-right: 2em;
        text-align: right;
        vertical-align: middle;
        width: 20%;
      }
    }
  }
}
