.course-users {
  &.invitations {
    .progress {
      margin-top: 1.5em;

      .progress-bar {
        min-width: 12em;
      }
    }
  }

  &.show {
    .achievement {
      text-align: center;

      .image > img {
        height: $course-user-achievement-badge;
        width: $course-user-achievement-badge;
      }
    }

    .profile-picture {
      .image > img {
        @include no-stretch;
        height: $course-user-profile-picture;
        margin-top: 1em;
        border-radius: 50%;
      }
    }
  }

  &.index {
    .profile-picture {
      text-align: center;

      .image > img {
        @include no-stretch;
        height: $course-user-listing-picture;
        margin-top: 1em;
        border-radius: 50%;
      }
    }

    .user-name {
      padding-top: 2em;
    }
  }
}
