.course-video-submissions {

  &.index {
    .submissions {
      .progress {
        margin: 0;
      }

      .no-submission {
        strong {
          color: $course-video-submission-not-started;
        }
      }
    }
  }
}
