@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* TODO: Remove `visible` and `invisible` once `visibility` is
           re-enabled in tailwind.config.js. */
  .visible {
    visibility: visible;
  }

  .invisible {
    visibility: hidden;
  }

  .key {
    @apply rounded-xl border border-solid px-2 py-0.5;
  }

  /* For Firefox 64+ and Firefox for Android 64+ */
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  /* For Blink- and WebKit-based browsers */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-handle-enter {
  animation-timing-function: ease-in-out;
  animation-name: sidebar-handle-emphasize;
  animation-duration: 400ms;
  animation-delay: -50ms;
}

@keyframes sidebar-handle-emphasize {
  0% {
    transform: translateX(-200%);
  }
  20% {
    transform: translateX(0.5rem);
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar-handle-exit {
  @apply -translate-x-[200%] scale-y-0 transition-all;
}

.bouncing-dot {
  display: inline-block;
  animation-name: bouncing-dot-bounce;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bouncing-dot:nth-child(2) {
  animation-delay: 125ms;
}

.bouncing-dot:nth-child(3) {
  animation-delay: 250ms;
}

@keyframes bouncing-dot-bounce {
  0% {
    transform: none;
  }

  33% {
    transform: translateY(-0.2em);
  }

  66% {
    transform: none;
  }
}
