// Keep the aspect ratio of the image.
@mixin no-stretch {
  object-fit: cover;
  object-position: center;
}

@mixin fit-round-img($width, $height: $width) {
  @include no-stretch;
  width: $width;
  height: $height;
  border-radius: 50%;
}
