= f.input :title
= f.input :description, as: :text
= f.input :staff_only_comments, as: :text
= f.input :maximum_grade
= f.association :skills, as: :token, collection: current_course.assessment_skills, multiple: true
