h1 = t('.header')

- if can?(:create, Course::Announcement)
  = link_to t('.new'), new_course_announcement_path(current_course), class: 'btn btn-primary'

= render @announcements

= paginate @announcements

