- posts = topic.posts
- posts = posts.with_read_marks_for(current_user) if defined?(read_marks)
- if defined?(with_votes)
  - posts = posts.calculated(:upvotes, :downvotes).with_user_votes(current_user)
- posts_locals = { posts: posts.ordered_topologically, max_depth: 3 }
- posts_locals[:post_partial] = post_partial if defined?(post_partial)
- posts_locals[:post_locals] = post_locals if defined?(post_locals)
- posts_locals[:max_depth] = max_depth if defined?(max_depth)
= render partial: 'course/discussion/posts', locals: posts_locals
