- posts = topic.posts
- posts_locals = { posts: posts.ordered_topologically, max_depth: 3 }
- posts_locals[:post_partial] = post_partial if defined?(post_partial)
- posts_locals[:post_locals] = post_locals if defined?(post_locals)
- posts_locals[:max_depth] = max_depth if defined?(max_depth)
= render partial: 'course/discussion/posts', locals: posts_locals
