ul.nav.nav-tabs
  li class=(controller.is_a?(Course::RegistrationsController) ? "active" : nil)
    a href="#{course_registrations_path(@course)}" #{t('.enrol_requests')}

    /! TODO: Add mass email and secret code tabs
