- video = @object
- course = video.course
- host = course.instance.host
- time = Time.use_zone(@recipient.time_zone) { video.end_at.to_formatted_s(:long) }

- message.subject = t('.subject', course: course.title, video: video.title)

= simple_format(t('.message', time: time,
                video: link_to(video.title,
                               course_video_url(video.course, video))))

br
= render partial: 'layouts/manage_email_subscription',
         locals: { course: course, recipient: @recipient, component: 'videos' , category_id: nil, setting: 'closing_reminder' }
