- add_breadcrumb format_inline_text(@category.title)
= page_header
= render partial: 'tabs'

= render partial: 'submissions', locals: { submissions: @submissions, pending: false }

= paginate @submissions
