- add_breadcrumb format_inline_text(@category.title)
= page_header
= render partial: 'tabs'

- if current_course_user&.staff? || can?(:manage, current_course)
  = render partial: 'filter', locals: { category: @category }

= render partial: 'submissions', locals: { submissions: @submissions, pending: false }

= paginate @submissions
