- submission = @object
- assessment = submission.assessment
- course = assessment.course
- submission_link = link_to(:submission,
                            edit_course_assessment_submission_url(course, assessment, submission))

- message.subject = t('.subject', course: course.title, assessment: submission.assessment.title)

= simple_format(t('.message', submission: submission_link, user: submission.course_user.name))
