= page_header do
  = new_button([current_course, :achievement]) if can?(:create, Course::Achievement.new(course: current_course))

= render partial: 'achievements',
         locals: { include_requirements: true, achievements: @achievements }
