- add_breadcrumb format_inline_text(@achievement.title)
= page_header format_inline_text(@achievement.title)

= render partial: 'achievements',
         locals: { include_requirements: false, achievements: [@achievement] }
