.submissionContainer {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.videoAndAnswers {
  flex-shrink: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  min-width: 320px;
  order: 1;
  width: 65%;
}

.discussion {
  flex-grow: 1;
  height: calc(95vh - 70px);
  max-width: calc(35% - 1em);
  order: 2;
  padding-left: 5px;
  position: sticky;
  top: 60px;
}
