- edit_path = edit_course_assessment_question_multiple_response_path(current_course, @assessment,
                                                                     multiple_response)
- delete_path = course_assessment_question_multiple_response_path(current_course, @assessment,
                                                                  multiple_response)
= render partial: 'course/assessment/questions/question',
         locals: { question: multiple_response,
                   edit_path: edit_path,
                   delete_path: delete_path }
