# i18n-tasks finds and manages missing and unused translations: https://github.com/glebm/i18n-tasks

# The "main" locale.
base_locale: en
## All available locales are inferred from the data by default. Alternatively, specify them explicitly:
locales: [en]
## Reporting locale, default: en. Available: en, ru.
# internal_locale: en

# Read and write translations.
data:
  ## Translations are read from the file system. Supported format: YAML, JSON.
  ## Provide a custom adapter:
  # adapter: I18n::Tasks::Data::FileSystem

  # Locale files or `File.find` patterns where translations are read from:
  read:
    - config/locales/%{locale}.yml
    - config/locales/%{locale}/**/*.yml

  # Locale files to write new keys to, based on a list of key pattern => file rules. Matched from top to bottom:
  # `i18n-tasks normalize -p` will force move the keys according to these rules
  write:
    ## For example, write devise and simple form keys to their respective files:
    # - ['{devise, simple_form}.*', 'config/locales/\1.%{locale}.yml']
    ## Catch-all default:
    # - config/locales/%{locale}.yml

  ## Specify the router (see Readme for details). Valid values: conservative_router, pattern_router, or a custom class.
  # router: convervative_router

  yaml:
    write:
      # do not wrap lines at 80 characters
      line_width: -1

  ## Pretty-print JSON:
  # json:
  #   write:
  #     indent: '  '
  #     space: ' '
  #     object_nl: "\n"
  #     array_nl: "\n"

# Find translate calls
search:
  ## Paths or `File.find` patterns to search in:
  # paths:
  #  - app/

  ## Root directories for relative keys resolution.
  relative_roots:
    - app/views
    - app/controllers
    - app/helpers
    - app/mailers

  ## Files or `File.fnmatch` patterns to exclude from search. Some files are always excluded regardless of this setting:
  ##   %w(*.jpg *.png *.gif *.svg *.ico *.eot *.otf *.ttf *.woff *.woff2 *.pdf *.css *.sass *.scss *.less *.yml *.json)
  exclude:
    - app/assets/images
    - app/assets/fonts
    - app/assets/webpack

  ## Alternatively, the only files or `File.fnmatch patterns` to search in `paths`:
  ## If specified, this settings takes priority over `exclude`, but `exclude` still applies.
  # include: ["*.rb", "*.html.slim"]

  ## Default scanner finds t() and I18n.t() calls.
  # scanner: I18n::Tasks::Scanners::PatternWithScopeScanner

## Google Translate
# translation:
#   # Get an API key and set billing info at https://code.google.com/apis/console to use Google Translate
#   api_key: "AbC-dEf5"

## Do not consider these keys missing:
ignore_missing:
  - 'application_helper.page_header.header'
  - 'errors.messages.*'
  - 'activerecord.errors.messages.*'

# I18n-tasks gives the wrong results for normal (non action) methods in the controller, ignore them here.
  - 'course.user_invitations.create_success_message.*'
  - 'course.user_invitations.create_warning_message.*'
  - 'system.admin.instance.user_invitations.create_success_message.*'
  - 'system.admin.instance.user_invitations.create_warning_message.*'

## Consider these keys used:
ignore_unused:
- 'activerecord.attributes.*'
- 'activerecord.models.*'
- 'breadcrumbs.*'
- 'errors.messages.*'
- 'helpers.buttons.*'
- '{devise,kaminari,will_paginate}.*'
- 'simple_form.{yes,no}'
- 'simple_form.{placeholders,hints,labels}.*'
- 'simple_form.{error_notification,required}.:'
- 'helpers.submit.*.create'
- 'helpers.submit.*.update'
# Dynamically resolved using symbol overload of #t
- 'activerecord.errors.*'
- 'activemodel.errors.*'
# Used dynamically by the page_header helper
- '*.*.header'
# Dynamically constructed using t_scoped
- 'course.assessment.question_bundle_assignments.validations.*'

# I18n-tasks gives the wrong results for normal (non action) methods in the controller, ignore them here.
- 'course.user_invitations.create.*'
- 'system.admin.instance.user_invitations.create.*'

## Exclude these keys from the `i18n-tasks eq-base' report:
# ignore_eq_base:
#   all:
#     - common.ok
#   fr,es:
#     - common.brand

## Ignore these keys completely:
# ignore:
#  - kaminari.*
