= div_for(achievement, class: ['col-xs-4', 'col-sm-3', 'col-md-2', 'col-lg-2']) do
  = link_to course_achievement_path(current_course, achievement) do
    = display_achievement_badge(achievement)
    h6 = format_inline_text(achievement.title)
