= tabs do
  = nav_to(t('.students'), course_users_students_path(current_course))
  = nav_to(t('.staff'), course_users_staff_path(current_course))
  = nav_to(t('.requests'), course_users_requests_path(current_course))
