@import '../../../discussion/post';

.course-assessment-submission-submissions.edit {
  table.codehilite {
    border: $course-discussion-post-border;
    border-collapse: separate;
    border-radius: $course-discussion-post-border-radius;

    tr {
      span.add-annotation {
        display: none;
        float: left;
        height: 1em;
        margin-left: -1.5em;
        position: relative;
        width: 1em;
      }

      &:hover {
        span.add-annotation {
          display: inline;
        }
      }

      td.line-number {
        border-right: $course-discussion-post-border;
        padding-left: 2em;
        position: relative;
        text-align: right;
      }

      td.line-content {
        padding-left: 0.5em;
      }

      td.line-annotation {
        @include discussion-post;

        border-bottom: $course-discussion-post-border;
        border-top: $course-discussion-post-border;
        padding: 1em;

        // scss-lint:disable SelectorFormat
        .annotation-form,
        .discussion_post {
          // scss-lint:enable SelectorFormat
          max-width: 960px;
        }
      }

      div.line-annotation-trigger {
        background: $course-discussion-post-annotation-trigger-bg-color;
        border: $course-discussion-post-border;
        border-bottom-color: $course-discussion-post-annotation-trigger-bg-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: $course-discussion-post-border-radius;
        border-top-right-radius: $course-discussion-post-border-radius;
        cursor: pointer;
        left: 0;
        position: absolute;
        top: 0;

        &.collapse-annotation {
          border: $course-discussion-post-border;
          border-bottom-left-radius: $course-discussion-post-border-radius;
          border-bottom-right-radius: $course-discussion-post-border-radius;
        }

        span.fa-chevron-down {
          transform: rotate(0deg) scale(0.7);
          transition: transform 100ms ease;
        }

        span.fa-comment {
          color: $course-discussion-post-annotation-trigger-color;
          transform: scaleX(-1);
        }
      }

      div.collapse-annotation span.fa-chevron-down {
        transform: rotate(-90deg) scale(0.7);
      }
    }
  }
}
