- add_breadcrumb format_inline_text(@achievement.title)
= page_header format_inline_text(@achievement.title)

= render partial: 'achievement', object: @achievement

div.alert.alert-info
  = simple_format(t('.notice'))

- collection = @course.course_users.with_approved_state.without_phantom_users.students.order_alphabetically
= render partial: 'course_users_form', locals: { course: @course, achievement: @achievement, collection: collection,
                                                 css: 'normal', button: 'button' }

br
h4 = t('.phantom_user_header')

- collection = @course.course_users.with_approved_state.phantom.students.order_alphabetically
= render partial: 'course_users_form', locals: { course: @course, achievement: @achievement, collection: collection,
                                                 css: 'phantom', button: 'phantom_button' }
