// scss-lint:disable ColorVariable
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
}

img {
  height: 100px;
  margin-top: 1em;
  width: 100px;
}
