.course-assessment-submission-submissions {
  &.edit {
    .answer .correct {
      background-color: $course-assessment-submission-answer-correct-bg;

      border: 1px solid transparent;
      border-color: $course-assessment-submission-answer-correct-border-color;
      border-radius: $course-assessment-submission-answer-correct-border-radius;

      color: $course-assessment-submission-answer-correct-border-text;
      padding: 0 3px;
    }
  }

  &.index {
    .submissions {
      .no-submission {
        strong {
          color: $course-assessment-submission-not-started;
        }
      }
    }
  }
}
