@mixin active-navigation-pill {
  background-color: $course-assessment-navigation-circle-active;
  color: $white;
}

.course-assessment-submission-submissions {
  &.edit {
    .active > .navigation-pills {
      @include active-navigation-pill;
    }

    .answer .correct {
      background-color: $course-assessment-submission-answer-correct-bg;

      border: 1px solid transparent;
      border-color: $course-assessment-submission-answer-correct-border-color;
      border-radius: $course-assessment-submission-answer-correct-border-radius;

      color: $course-assessment-submission-answer-correct-border-text;
      padding: 0 3px;
    }

    .answer .grading-panel {
      margin-top: 0.5em;
    }

    .answer .grade-form {
      margin-bottom: 0;
    }

    .answer-content {
      border-bottom: 1px solid $gray-lighter;
      border-radius: 3px;
    }

    .answer-content,
    .tab-content {
      padding: 1.5em;
    }

    .answer-panel {
      border: 1px solid $grey-light;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 $course-assessment-submission-shadow;
      margin-bottom: 1.5em;
      padding: 1.5em 1.5em 0.5em;
    }

    .completed > .navigation-pills {
      background-color: $course-assessment-navigation-circle-completed;

      &:hover {
        @include active-navigation-pill;
      }
    }

    .disabled > .navigation-pills {
      background-color: lighten($gray, 50%);
      color: $white;
      pointer-events: none;
    }

    .exp-multiplier,
    .points-awarded {
      display: inline-block;
    }

    .exp-multiplier {
      margin-left: 1em;
    }

    .navigation {
      display: inline-block;
      margin-bottom: 12px;

      > li {
        height: 60px;
        width: 60px;
      }
    }

    .navigation-pills {
      border: 1px solid lighten($gray, 50%);
      border-radius: 50px;
      color: $gray;
      font-size: 120%;
      margin: 5px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 13px;
    }

    .submission-buttons .btn {
      margin-bottom: 10px;
      margin-left: 0;
      margin-right: 20px;
      margin-top: 20px;
    }

    .tab-content {
      border-bottom: 1px solid $gray-lighter;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1px solid $gray-lighter;
      border-right: 1px solid $gray-lighter;
    }

    .tab-header {
      margin-bottom: 0;
    }

    .files {
      margin-bottom: 20px;
    }
  }

  &.index {
    .submissions {
      .no-submission {
        strong {
          color: $course-assessment-submission-not-started-text;
        }
      }
    }

    .submission-state-histogram {
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      text-align: center;

      @each $submission-state, $color in $course-assessment-submission-state-colors {
        .#{$submission-state} {
          background-color: $color;
          min-width: 50px;
        }
      }
    }
  }
}
