.course-assessment-submission-submissions {
  &.edit {
    .answer .correct {
      background-color: $course-assessment-submission-answer-correct-bg;

      border: 1px solid transparent;
      border-color: $course-assessment-submission-answer-correct-border-color;
      border-radius: $course-assessment-submission-answer-correct-border-radius;

      color: $course-assessment-submission-answer-correct-border-text;
      padding: 0 3px;
    }

    .answer .grading-panel {
      margin-top: 0.5em;
    }

    .answer .grade-form {
      margin-bottom: 0;
    }

    .submission-buttons .btn {
      margin: 10px 20px 10px 0;
    }

    .exp-multiplier,
    .points-awarded {
      display: inline-block;
    }

    .exp-multiplier {
      margin-left: 1em;
    }
  }

  &.index {
    .submissions {
      .no-submission {
        strong {
          color: $course-assessment-submission-not-started;
        }
      }
    }
  }
}
