- response = response_experience_points_reason
- survey = response.survey
- title = format_inline_text(survey.title)
- if can?(:read_answers, response)
  = link_to(title, course_survey_response_path(current_course, survey, response))
- else
  = link_to(title, course_survey_responses_path(current_course, survey))
