- edit_path = edit_course_assessment_question_text_response_path(current_course, @assessment,
                                                                 text_response)
- delete_path = course_assessment_question_text_response_path(current_course, @assessment,
                                                              text_response)
= render partial: 'course/assessment/questions/question',
         locals: { question: text_response,
                   edit_path: edit_path,
                   delete_path: delete_path }
