- host = @course.instance.host
- time = Time.use_zone(@recipient.time_zone) { @survey.end_at.to_formatted_s(:long) }

= simple_format(t('.message', survey: link_to(@survey.title, course_survey_url(@course, @survey, host: host)),
                              time: time))

br
= render partial: 'layouts/manage_email_subscription',
         locals: { course: @course, recipient: @recipient, component: 'surveys' , category_id: nil, setting: 'closing_reminder' }
