= simple_format(t('.message', course: link_to(@course.title, course_url(@course, host: @course.instance.host)),
                              coursemology: link_to(t('common.mailers.coursemology'), @course.instance.host)))
= simple_format(@user_suspension_message || t('.default_suspension_message'))
