- course_requests_page = link_to(t('course.enrol_requests.index.header'), course_enrol_requests_url(@course, host: @course.instance.host))
= simple_format(t('.message', user: link_to(@enrol_request.user.name, format('mailto: %s', @enrol_request.user.email)),
                              course: link_to(@course.title, course_url(@course, host: @course.instance.host)),
                              course_requests_page: course_requests_page))
