= simple_format(\
    t('.message', course: link_to(@course.title, course_url(@course, host: @course.instance.host)),
                  coursemology: link_to(t('common.mailers.coursemology'), @course.instance.host)\
    )\
  )
- if @requires_confirmation
  = simple_format(t('.confirm_email', email: @recipient.email))
