= page_header do
  = new_button([:admin, :instance, :announcement]) if can?(:create, Instance::Announcement)

= render partial: @announcements, spacer_template: 'announcements/announcement_spacer'
= paginate @announcements
