.inputContainer {
  display: flex;
  flex-flow: row wrap;
}

.titleInput,
.descriptionInput,
.staffCommentsInput,
.skillsInput,
.maximumGradeInput,
.attemptLimitInput {
  flex: 1 100%;
}

@media (min-width: 375px) {
  .maximumGradeInput {
    flex: 1 50%;
  }

  .maximumGradeInput {
    padding-right: 1em;
  }
}

@media (min-width: 1024px) {
  .attemptLimitInput {
    flex: 1 auto;
  }

  .attemptLimitInput {
    padding-left: 1em;
  }
}

.fileInputButton {
  cursor: pointer;
  margin-right: 1em;
  margin-top: 0.5em;
}

.submitButton {
  margin-bottom: 1em;
  margin-top: 1em;
}
