- add_breadcrumb format_inline_text(@question_bundle_assignment.user.name)
= page_header 'Edit Question Bundle Assignment'

- url = course_assessment_question_bundle_assignment_path(current_course, @assessment, @question_bundle_assignment)
= simple_form_for @question_bundle_assignment, url: url do |f|
  = render partial: 'form', locals: { f: f }
