/ Slim port of assets/javascripts/templates/course/assessment/answer/programming/annotation_row
tr
  td.line-annotation [colspan=2 data-line-number=line_number
                      id="line_annotation_file_#{file_id}_line_#{line_number}_annotation"]
