- unless annotation_topic.posts.empty?
  = div_for(annotation_topic)
    = display_topic annotation_topic, post_partial: 'course/assessment/answer/programming/annotation_post',
                                      footer: 'course/assessment/answer/programming/annotation_footer'
