.course-admin-admin {
  &.index {
    .advance-start-at-time {
      display: inline-block;

      input {
        width: 80px;
      }
    }

    .course-logo {
      .image > img {
        height: $course-admin-form-logo;
        width: $course-admin-form-logo;
      }
    }
  }
}
