<% /* ejs port of views/course/assessment/answer/programming/annotation_row */ %>
<tr>
  <td colspan="2" class="line-annotation" data-line-number="<%= lineNumber %>"
      id="<%= annotationCellId %>">
  </td>
</tr>
