<% /* ejs port of views/course/assessment/answer/programming/annotation_row_trigger */ %>
<span class="line-annotation-trigger">
  <span class="fa fa-comment"></span><span class="fa fa-chevron-down"></span>
</span>
