= base_answer_form.simple_fields_for :actable do |specific_answer_form|
  = render partial: specific_answer_form.object.specific, locals: { f: specific_answer_form }
- if !answer.attempting? && can?(:grade, @submission)
  = base_answer_form.input :grade
