= render partial: answer.discussion_topic,
         locals: { \
           post_partial: 'course/assessment/answer/comment', \
           footer: 'course/assessment/answer/comments_footer' \
         }
