//
// Variables
// --------------------------------------------------

//== Colors
//
$red: #ff0000 !default;

//## Variables for colors used in Coursemology.
$course-achievement-granted-bg: $state-success-bg !default;
$course-achievement-locked-bg: $gray-lighter !default;
$course-assessment-submission-answer-correct-border-color: $state-success-border !default;
$course-assessment-submission-answer-correct-border-radius: $border-radius-base !default;
$course-assessment-submission-answer-correct-bg: $state-success-bg !default;
$course-assessment-submission-answer-correct-border-text: $state-success-text !default;
$course-assessment-submission-not-started: $red !default;
$course-discussion-post-border-color: $panel-default-border !default;
$course-discussion-post-border-radius: $border-radius-base !default;
$course-discussion-post-shadow-color: $gray-lighter !default;

//== Fonts
//
//## Code editor typography.
$code-font-family: $font-family-monospace !default;
$code-font-size: $font-size-base !default;

//== Icons and Logos
//
//## Progress bar spinner
$nprogress-color: #26b0ff !default;
$nprogress-spinner-icon-width: 18px !default;

//## Common sizes to be used across Coursemology.
$picture-thumb: 25px !default;
$picture-small: 75px !default;
$picture-medium: 100px !default;
$picture-large: 140px !default;

//## Variables for icons or logos used in Coursemology.
$course-achievement-form-badge:   $picture-small !default;
$course-achievement-user-profile: $picture-small !default;
$course-user-achievement-badge: $picture-medium !default;
$course-leaderboard-groupuser-picture: $picture-small !default;
$course-leaderboard-user-picture: $picture-small !default;
$course-leaderboard-achievement-badge: $picture-thumb !default;
$course-user-listing-picture: $picture-small !default;
$course-user-profile-picture: $picture-large !default;

$course-admin-form-logo: $picture-small !default;
$course-layout-sidebar-logo: $picture-medium !default;
$course-course-listing-logo: $picture-medium !default;
