//
// Variables
// --------------------------------------------------

//== Colors
//
$grey: #808080 !default;
$red: #ff0000 !default;
$white: #ffffff !default;
$grey-light: #cccccc !default;

//## Variables for colors used in Coursemology.
$unread-highlight: #f8e3e3 !default;
$course-achievement-granted-bg: $state-success-bg !default;
$course-achievement-locked-bg: $gray-lighter !default;
$course-assessment-not-started-bg: $gray-lighter !default;
$course-assessment-navigation-circle-active: $brand-info !default;
$course-assessment-navigation-circle-completed: #d9edf7 !default;
$course-assessment-submission-answer-correct-border-color: $state-success-border !default;
$course-assessment-submission-answer-correct-border-radius: $border-radius-base !default;
$course-assessment-submission-answer-correct-bg: $state-success-bg !default;
$course-assessment-submission-answer-correct-border-text: $state-success-text !default;
$course-assessment-submission-not-started-text: $red !default;
$course-discussion-post-border: 1px solid $panel-default-border !default;
$course-discussion-post-border-color: $panel-default-border !default;
$course-discussion-post-border-radius: $border-radius-base !default;
$course-discussion-post-shadow-color: $gray-lighter !default;
$course-discussion-post-annotation-trigger-bg-color: $body-bg !default;
$course-discussion-post-annotation-trigger-color: $brand-primary !default;
$course-forum-unread-highlight: $unread-highlight !default;
$course-video-not-started-bg: $gray-lighter !default;
$course-video-submission-not-started: $red !default;

$course-assessment-submission-state-colors: (
  not-started: #ffaaaa,
  attempting: #fffbaa,
  submitted: #dddddd,
  graded: #aaeeff,
  published: #adffaa
);

//== Fonts
//
//## Code editor typography.
$code-font-family: $font-family-monospace !default;
$code-font-size: $font-size-base !default;

//== Icons and Logos
//

//## Common sizes to be used across Coursemology.
$picture-thumb: 25px !default;
$picture-small: 75px !default;
$picture-medium: 100px !default;
$picture-large: 140px !default;

//## Variables for icons or logos used in Coursemology.
$course-achievement-form-badge:   $picture-small !default;
$course-achievement-user-profile: $picture-small !default;
$course-assessment-achievement-badge: $picture-thumb !default;
$course-user-achievement-badge: $picture-medium !default;
$course-leaderboard-groupuser-picture: $picture-small !default;
$course-leaderboard-user-picture: $picture-small !default;
$course-leaderboard-achievement-badge: $picture-thumb !default;
$course-user-listing-picture: $picture-small !default;
$course-user-profile-picture: $picture-large !default;

$course-admin-form-logo: $picture-small !default;
$course-layout-sidebar-logo: $picture-medium !default;
$course-course-listing-logo: $picture-medium !default;


//== Others

// Shadows
$course-assessment-question-card-shadow: rgba(0, 0, 0, 0.12) !default;
$course-assessment-question-card-hover-shadow: rgba(0, 0, 0, 0.25) !default;
$course-assessment-submission-shadow: rgba(0, 0, 0, 0.2) !default;
