@use 'sass:map';

@function above($element) {
  @return $element + 1;
}

@function below($element) {
  @return $element - 1;
}

// z-index values from libraries
$navbar-static-top: 1000;
$mui-tooltip-popper: 1500;

$base: 0;

// z-index values can be accessed with map-get($z-index, {element})
$z-index: (
  'sidebar-container': above($base),
  'footer': above(above($base)),
  'show-sidebar': below($navbar-static-top),
  'body-nav': below($mui-tooltip-popper),
  'ck-body-wrapper': $mui-tooltip-popper,
);
