.course-assessment-assessments {
  &.show {
    .condition-not-satisfied {
      color: $red;
      font-weight: bold;
    }

    .details-table {
      margin-top: 1.5em;
    }
  }

  &.index {
    .condition-not-satisfied {
      color: $red;
    }

    .achievement-badge {
      a {
        text-decoration: none;
      }

      .image > img {
        height: $course-assessment-achievement-badge;
        margin: 2px 1px;
        width: $course-assessment-achievement-badge;
      }
    }

    .assessments-list {
      table-layout: fixed;

      tr.not-started {
        background-color: $course-assessment-not-started-bg;
      }

      td,
      th {
        vertical-align: middle;
      }

      .btn-group {
        display: flex;
      }

      .fa-book {
        margin-right: 4px;
      }

      .table-bonus-cut-off,
      .table-requirement-for {
        @extend .hidden-xs;
        @extend .hidden-sm;
        @extend .hidden-md;
        @extend .text-center;
      }

      .table-end-at {
        @extend .text-center;
      }

      .table-experience-points {
        @extend .hidden-xs;
        @extend .hidden-sm;
        @extend .text-center;
        width: 150px;
      }


      .table-start-at {
        @extend .hidden-xs;
        @extend .text-center;
      }
    }
  }
}
