.course-assessment-assessments {
  &.show {
    .condition-not-satisfied {
      color: $red;
      font-weight: bold;
    }

    .details-table {
      margin-top: 1.5em;
    }

    .card {
      box-shadow: 0 1px 3px $course-assessment-question-card-shadow;
      cursor: move;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .card:hover {
      box-shadow: 0 14px 28px $course-assessment-question-card-hover-shadow;
    }

    .password-panel {
      float: none;
      margin: 100px auto;

      span,
      input.btn-primary {
        display: block;
        margin: 0 auto;
      }

      span {
        color: $gray-light;
      }

      p {
        color: $gray-light;
      }

      form {
        margin-top: 30px;
      }
    }
  }

  &.index {
    .condition-not-satisfied {
      color: $red;
    }

    .achievement-badge {
      a {
        text-decoration: none;
      }

      .image > img {
        height: $course-assessment-achievement-badge;
        margin: 2px 1px;
        width: $course-assessment-achievement-badge;
      }
    }

    .assessments-list {
      table-layout: fixed;

      tr.not-started {
        background-color: $course-assessment-not-started-bg;
      }

      td,
      th {
        vertical-align: middle;
      }

      .btn-group {
        display: flex;
      }

      .fa-book {
        margin-right: 4px;
      }

      .table-time-bonus-exp,
      .table-requirement-for {
        @extend .hidden-xs;
        @extend .hidden-sm;
        @extend .hidden-md;
        @extend .text-center;
      }

      .table-end-at {
        @extend .text-center;
      }

      .table-base-exp,
      .table-bonus-cut-off {
        @extend .hidden-xs;
        @extend .hidden-sm;
        @extend .text-center;
        width: 150px;
      }


      .table-start-at {
        @extend .hidden-xs;
        @extend .text-center;
      }
    }
  }
}
