.course-assessment-assessments {
  &.show {
    .condition-not-satisfied {
      color: $red;
      font-weight: bold;
    }

    .details-table {
      margin-top: 1.5em;
    }
  }

  &.index {
    .condition-not-satisfied {
      color: $red;
    }

    .achievement-badge {
      a {
        text-decoration: none;
      }

      .image > img {
        height: $course-assessment-achievement-badge;
        width: $course-assessment-achievement-badge;
      }
    }
  }
}
