.course-assessment-question-bundle-assignments {
  .validation-desc {
    margin-top: 5px;
  }

  .question-group-select {
    display: inline-block;
    width: 70%;
    margin-right: 5px;
  }

  .question-group-errors {
    display: inline-block;
  }
}
