.course-assessment-sessions {
  &.new {
    .password-panel {

      float: none;
      margin: 100px auto;

      span,
      input.btn-primary {
        display: block;
        margin: 0 auto;
      }

      span {
        color: $gray-light;
      }

      p {
        color: $gray-light;
      }

      form {
        margin-top: 30px;
      }
    }
  }
}
