.course-assessment-submissions {
  &.index,
  &.pending {
    .submissions-filter {
      border: 1px solid $gray-lighter;
      border-radius: 4px;
      margin: 5px;
      padding: 10px;
    }

    .submissions-list {
      .table-submitted-at,
      .table-workflow-state,
      .table-grade,
      .table-current-points-awarded,
      .table-buttons {
        @extend .text-center;
      }
    }
  }
}
