- add_breadcrumb t('.submissions')
= page_header format_inline_text(@assessment.title)

- submissions = @submissions.map { |s| [s.course_user, s] }.to_h
h3 = t('.student_header')
- students = @course_students.without_phantom_users
= render partial: 'submissions', object: submissions, locals: { course_users: students }

h3 = t('.other_header')
- other_users = @course_students - students
= render partial: 'submissions', object: submissions, locals: { course_users: other_users }
