.user-profiles {
  &.edit {
    .image > img {
      @include no-stretch;

      height: 200px;
      width: 200px;
      border-radius: 50%;
    }

    .upload-btn {
      margin-bottom: 1em;
    }
  }
}
