.course-video-videos {
  &.show {
    .details-table {
      margin-top: 1.5em;
    }
  }

  &.index {
    .videos-list {
      table-layout: fixed;

      tr.not-started {
        background-color: $course-video-not-started-bg;
      }

      td,
      th {
        vertical-align: middle;
      }

      .attempt .btn-info {
        width: 90px;
        display: block;
        margin: auto;
      }

      .table-start-at {
        @extend .hidden-xs;
        @extend .text-center;
      }

      .btn-group {
        display: flex;
      }

      .management-btn-group {
        text-align: right;
      }

      .management-btn {
        display: inline-block;
        margin: auto;
      }

      .progress {
        margin: 0;
      }
    }
  }
}
