<footer>
  <hr/>
  <div class="navbar-bottom">
    <div class="container-fluid">
      <p class="pull-left">&copy; 2013 - 2014 Coursemology.org. All Rights Reserved.</p>
      <nav class="pull-right">
        <ul class="nav">
          <li><%= link_to "Term of Service", '#' %></li>
          <li><%= link_to "About Us", '#' %></li>
          <li><%= link_to "Privacy Policy", '#' %></li>
          <li><%= link_to "Contact Us", '#' %></li>
          <li><a href="https://github.com/Coursemology/coursemology.org.git">Source code</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

