<footer>
  <hr/>
  <hr/>
  <div class="navbar-bottom">
    <p class="navbar-text">&copy; 2013 - 2014 Coursemology.org. All Rights Reserved.</p>

    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Term of Service", '#' %></li>
        <li><%= link_to "About Us", '#' %></li>
        <li><%= link_to "Privacy Policy", '#' %></li>
        <li><%= link_to "Contact Us", '#' %></li>
        <li><a href="https://github.com/Coursemology/coursemology.org.git">Source code</a></li>
      </ul>
    </nav>

  </div>

</footer>

